<!--
Vera Mankongvanichkul

http://vmankongvanichkul.greenriverdev.com/it328/

-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <title>Document</title>
</head>
<body>

    <div class="container shadow-lg mt-5 p-5">
        <h1>Midterm Survey</h1>

        <a class="btn" href="survey.html">Take my Midterm Survey</a>
    </div>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
