<!--
Vera Mankongvanichkul

http://vmankongvanichkul.greenriverdev.com/it328/

-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="styles.css">

    <title>Document</title>
</head>
<body>

<div class="container shadow-lg mt-5 p-5">


    <h6><label>Midterm Survey</label></h6>

    <label>Name: <input type="text" name="name"> </label>
    <div class="row form-group ml-4">
        <p>Check all that apply: </p>
        <repeat group="{{ @indoor1 }}" value="{{ @indoorOptions }}">
            <div class="form-check form-check-inline col">
                <label class="form-check-label"><input type="checkbox" class="form-check-input"
                                                       name="indoor[]" value="{{ @indoorOptions }}">
                    <check if="{{ !empty(@indoor) && in_array(@indoorOptions, @indoor) }}">
                        checked="checked"
                    </check>
                    {{ @indoorOptions }}</label><br>
            </div>
        </repeat>
    </div>

</div>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
