<!--
Vera Mankongvanichkul

http://vmankongvanichkul.greenriverdev.com/it328/

-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>

<div class="container shadow-lg mt-5 p-5">


    <h6><label>Midterm Survey</label></h6>

    <form method="post" action="result">
        <label>Name:
            <check if="{{ isset(@errors['name']) && !isset(@SESSION.name) }}">
                <em class="text-danger">{{ @errors['name'] }}</em>
            </check><
            input type="text" name="name" required> </label>
        <p>Check all that apply: </p>
        <check if="{{ isset(@errors['checkboxes']) }}">
            <em class="text-danger">{{ @errors['checkboxes'] }}</em>
        </check>
        <repeat group="{{ @checkboxes }}" value="{{ @boxOptions }}">
            <div class="form-check form-check-inline col">
                <label class="form-check-label"><input type="checkbox" class="form-check-input"
                                                       name="checkboxes[]" value="{{ @boxOptions }}" required>
                    <check if="{{ !empty(@checkboxes) && in_array(@boxOptions, @checkboxes) }}">
                        checked="checked"
                    </check>{{ @boxOptions }}</label><br>
            </div>
        </repeat>
        <br>
        <button type="submit">Submit</button>
    </form>

</div>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
